.intro {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 4% 0%;
    align-items: center;
    background-color: #ffffff;
    /* border-radius: 13px; */
}

span.lw1-intro {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    /* font-family: 'Suez One', Verdana, sans-serif; */
    color: #F27B13;
    font-size: 5rem;
}

span.lw2-intro {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    /* font-family: 'Suez One', Verdana, sans-serif; */
    color: #1EA672;
    /* 1E46A6 */
    font-size: 5rem;
}

.intro-txt {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

.login {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 7% 5%;
    align-items: center;
    background-color: #ffffff;
    /* border-radius: 13px; */
}

.form-login {
    width: 50%;
    /* margin-left: -1rem; */
}

.login-form {
    margin-top: 3rem;
    width: 100%;
    /* margin-left: -10rem; */
}

.register {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2% 5%;
    align-items: center;
    background-color: #ffffff;
    /* border-radius: 13px; */
}

.form-cadastro {
    width: 50%;
}

.register-form {
    margin-top: 3rem;
    width: 100%;
    /* margin-left: -10rem; */
}

.register-form .bnt {
    display: flex;
    /* margin-left: 27%; */
    padding: 0 30%;
}

.login h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    /* font-family: 'Suez One', Verdana, sans-serif; */
    color: #F27B13;
    font-size: 3rem;
}

.form-cadastro h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #F27B13;
    font-size: 3rem;
}

.input-style {
    border-radius: 15px !important;
    max-width: 436px;
    padding: 7px 10px 6px 0px;
    margin: 0 0%;
    /* 40 no ultimo --------------------------------------*/
}

@media screen and (max-width: 500px) {

    .intro {
        display: list-item;
        margin-left: 0rem;
        margin-right: 0rem;
        background-color: #ffffff;
        padding: 0% 0%;
        align-items: center;
    }

    .img-logo-inicio {
        display: flex;
        justify-content: center;
    }

    .div-lib-web {
        display: flex;
        justify-content: center;

    }

    span.lw1-intro {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #F27B13;
        font-size: 3rem;
    }

    span.lw2-intro {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #1EA672;
        font-size: 3rem;
    }

    .intro-txt {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        text-align: justify;
        padding: 6%;
    }

    /* .bnt.first-button {
        margin-left: 10rem;
    } */

    .login {
        display: flex;
        margin-top: 1.25rem;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 50% 0%;
        /* align-items: center; */
        background-color: #ffffff;
        justify-content: center;
        /* padding-bottom: 50%; */
    }

    .imagem-ocultar {
        display: none;
    }

    .form-login {
        width: 90%;
        /* margin-left: -1rem; */
    }

    .login-form {
        margin-top: 3rem;
        width: 100%;
        /* margin-left: -1.5rem; */
    }

    .login-form-button {
        /* display: flex;
        justify-content: center; */
        margin-left: 2.8rem !important;
    }

    .login h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #F27B13;
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }

    .register {
        display: flex;
        /* justify-content: space-between; */
        margin-top: 1.25rem;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 25% 0%;
        justify-content: center;
        background-color: #ffffff;
        /* border-radius: 13px; */
    }

    .form-cadastro {
        width: 90%;
    }

    .register-form {
        margin-top: 3rem;
        width: 100%;
        /* margin-left: -4rem; */
    }

    .register-form .bnt {
        display: flex;
        margin-left: 12%;
        padding: 0 30%;
    }

    .form-cadastro h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #F27B13;
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }
}